<div class='menuitems'>
  <h3>{{this.name}}</h3>
  <h4>£{{this.price}}</h4>
  <div class='promo-blocks__actions'>
    <a
      href=''
      data-id='{{this.id}}'
      class='anchor--button'
    >
      Edit
    </a>
    <button type='button' data-id='{{this.id}}'>
      Delete
    </button>
  </div>
</div>