<h2>Add a Menu</h2>

<form action='/restaurants/{{restId}}/menus' method='POST'>
  <div>
    <label for='name'>Name</label><br />
    <input type='text' name='name' id='name' required />
  </div>
  <button type='submit' class='button--anchor'>
    Create new Menu
  </button>
</form>