<h1>Update Menu</h1>

<form id="updateMenuForm">
    <input type="hidden" name="menuId" value= "{{menu.id}}">
    <input type="hidden" name="restId" value= "{{menu.RestaurantId}}">
    <div>
        <label for="name">Name</label><br>
        <input type="text" name="name" id="name" value= "{{menu.name}}" required>
    </div>
    <button type="submit" class= "button--anchor">
      Submit Changes
    </button>
</form>

<script>
    const form = document.getElementById("updateMenuForm")
    form.addEventListener("submit", updateMenu)
</script>