<h1>Update Menu Item</h1>

<form id="updateMenuItemForm">
    <input type="hidden" name="menuItemId" value= "{{menuitem.id}}">
    <input type="hidden" name="menuId" value= "{{menuitem.MenuId}}">
    <div>
        <label for="name">Name</label><br>
        <input type="text" name="name" id="name" value= "{{menuitem.name}}" required>
    </div>
    <div>
        <label for="name">Price</label><br>
        <input type="number" name="price" id="price" value= "{{menuitem.price}}" required>
    </div>
    <button type="submit" class= "button--anchor">
      Submit Changes
    </button>
</form>

<script>
    const form = document.getElementById("updateMenuItemForm")
    form.addEventListener("submit", updateMenuItem)
</script>